<!DOCTYPE html>
<html>
<head>
    <title>Titanic Survival Prediction</title>
</head>
<body>
    <h2>Titanic Survival Prediction System</h2>

    <form action="/predict" method="post">

        <label>Pclass:</label>
        <input type="number" name="pclass" required><br><br>

        <label>Sex:</label>
        <select name="sex">
            <option value="0">Male</option>
            <option value="1">Female</option>
        </select><br><br>

        <label>Age:</label>
        <input type="number" step="any" name="age" required><br><br>

        <label>Fare:</label>
        <input type="number" step="any" name="fare" required><br><br>

        <label>Embarked:</label>
        <select name="embarked">
            <option value="0">C</option>
            <option value="1">Q</option>
            <option value="2">S</option>
        </select><br><br>

        <button type="submit">Predict</button>
    </form>

    <h3>{{ prediction_text }}</h3>

</body>
</html>
